<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1 maximum-scale=1.0, user-scalable=0">
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <title>Recommended</title>
      <link rel="stylesheet" href="index.css">
      <link href=
            "https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Shrikhand&display=swap"
            rel="stylesheet">
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Sansita+Swashed:wght@300&family=Smooch+Sans:wght@100&display=swap');
         @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nothing+You+Could+Do&family=Open+Sans+Condensed:wght@300&family=Shizuru&family=Tillana&family=Titillium+Web:wght@200&display=swap');
         body {
         background: url('space.jpg')
         }
         
         .header {
         background-color: white;
         height: auto;
         margin: auto;
         padding-bottom: 15px;
         }
         
         
         .product-filter {
         display: flex;
         color: white;
         padding: 50px;
         margin-left: 120px;
         max-width: 1200px;
         }
         
         .product-filter h1 {
         color: rgb(240, 204, 47);
         font-family: 'Sansita Swashed', cursive;
         font-weight: bold;
         font-size: 50px;
         }
         
         
         .collection-sort {
         display: flex;
         flex-direction: column;
         font-family: 'Titillium Web', sans-serif;
         }
         
         .products {
         max-width: 1200px;
         display: flex;
         margin-top: 20px;
         margin-left: auto;
         margin-right: auto;
         flex-wrap: wrap;
         color: white;
         }
               
         .product-card {
         margin-left: 40px;
         flex: 1 27%;
         background-color: #000000;
         }
         
         .product-image img {
         max-width: 100%;
         border-radius: 6px;
         }
         .product-info {
         margin-top: auto;
         }
         
         .product-info h4 {
         font-family: 'Titillium Web', sans-serif;
         font-weight: light;
         color: #f39b16;
         }
         
         .product-info h5 {
         font-family: 'IBM Plex Sans', sans-serif;
         font-weight: bold;
         font-size: 20px;
         }
         
         .product-info h6 {
         font-family: 'Titillium Web', sans-serif;
         font-size: 15px;
         }

         .cart-add {
            text-align: center;
            padding-bottom: 30px;
         }

         .quantity {
            width: 35px;
         }

         .cart-button {
            display:inline-block;
            border:0.1em solid #FFFFFF;
            margin:0 0.3em 0.3em 0;
            border-radius:0.12em;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            font-weight:300;
            color: grey;
            background-color: black;
            text-align:center;
            transition: all 0.2s;
         }
         .cart-button:hover{
            color:white;
            background-color:black;
         }
         @media all and (max-width:30em){
            .cart-button {
               display:block;
               margin:0.4em auto;
            }
         }
         
      </style>
   </head>
   
   
   
   
   
   <body>
      <header>
            <a href='index' style='text-decoration: none;'><h1 class = "home_link"> moon shoes </h1></a>
            <hr>
       </header>
      <div style="z-index: 2;">
      <nav>
         <ul class="nav">
            <li class="nav-list"><a class="curr" href="index">Home</a></li>
            <li class="nav-list"><a href="about">About</a></li>
            <li class="nav-list"><a href="location">Locations</a></li>
            <li class="nav-list"><a href="mens">Men's</a></li>
            <li class="nav-list"><a href="womens">Women's</a></li>
            <li class="nav-list"><a href="contact">Contact</a></li>
            <li class="nav-list"><a href="faq">FAQs</a></li>
            <div class = "nav-cart"><a href="creditcard"><img id='cart' src="cart.png"></a></div>
         </ul>
      </nav>
         
         
         
      <nav class="product-filter">
         
         <h1>Recommended Sneakers</h1>

      </nav>
         
         
      <section class="products">
         <% query.forEach(function(q) { %>
            <div class="product-card">
               <div class="product-image">
                  <img src= "<%= q.source%>" height="400px">
               </div>
               <div class="product-info">
                  <h4> <%= q.gender%> </h4>
                  <h5> <%= q.name%></h5>
                  <h6>$<%= q.price%></h6>
               </div>
               <div class="cart-add">
                  <form action="/" method="POST">
                        <input type="hidden" class="name" name="name" value="<%= q.name%>">
                        <input type="hidden" class="price" name="price" value=<%= q.price%>>
                        <input type=number class="quantity" name="quantity" value=0>
                        <button type="submit" class="cart-button">Add To Cart</button> 
                  </form>
               </div>
            </div>
         <% }); %>
      </section>
      <footer> 
                <hr>
                This website is for academic purpose. 2022 Moon Shoes All Rights Reserved
      </footer>
      <script>
         $(".cart-button").click(function() {
            // alert the class name
            alert("Added To Cart!");
         });
     </script>
   </body>
</html>
